<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AIDS Medication Review</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>
  <!-- Begin body -->
  <body>
    <h1>
      <div id="header">
        <div id="title">AIDS medication review</div>
        <div id="subtitle">
          <p>FDA-approved medications for treatment of HIV infection</p>
        </div>
      </div>
    </h1>

    <!-- medications! -->
    <div id='medications'>
    </div>

    <!-- Write Modal -->
    <div id="writeModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Write review for: </h4>
            <h4 class="modal-title-drugName"></h4>
          </div>
          <div class="modal-body">
            <div>
                <input type="text" placeholder="Rating: Out of 5" name="ratingInput" id="ratingInput" />
                <input type="text" placeholder="Patient's age" name="ageInput" id="ageInput"/>
                <div>
                  <input type="text" placeholder="Side-effects" name="sideEffectsInput" id="sideEffectsInput"/>
                </div>
                <div class="commentsSection">
                  <div> Comments: </div>
                  <textarea name="commentsInput" id="commentsInput"></textarea>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="closeReviewButton"data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" id="saveReviewButton" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Read Modal -->
    <div id="readModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Reviews for: </h4>
            <h4 class="modal-title-drugName"></h4>
          </div>
          <div class="modal-body">
            <div id="review"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="closeReadReview" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script id="review-template" type="text/x-handlebars-template">
      <div class="aReview">
          <div id="reviewRating">
              Rating:
            </div>
            <span> {{ratings}} </span>
        <div id="sideEffects">
            Side-effects:
          </div>
          <span> {{sideEffects}} </span>
        <div id="ageGroup">
            Age:
        </div>
        <span> {{ageGroups}} </span>
        <div id="comments">
          Comments:
        </div>
        <div> {{additionalComments}} </div>
        <span class="trashIcon" data-id="{{_id}}">
            <img src="images/TrashIcon.png" width="35px">
        </span>
        <span class="updateIcon" data-id="{{_id}}">
            <img src="images/UpdateIcon.png" width="35px">
        </span>
        </div>
    </script>

    <!-- Medications handlebars script -->
    <script id="medication-template" type="text/x-handlebars-template">
      <!-- one medication -->
      <div class="aMedication one-edge-shadow">
        <div class="name row">
          <div class="col-sm-2 iconImage">
            <img src="images/AIDSribbonIcon.png" width="60px">
          </div>
          <div class="col-sm-10 drugName">
            {{name}}
          </div>
        </div>

        <div class="description">
          <div>
            {{description}}
          </div>
        </div>

        <div class="details">
            <div id="medClass">
                Class: {{drugClass}}
            </div>
            <div id="mfgCompany">
              {{companyName}}
            </div>
        </div>
        <div class="actions">
          <div class="actionTitle">
            Reviews:
          </div>
          <div class="read">
            <button type="button" class="btn btn-default"
                  data-toggle="modal" data-target="#readModal"
                  data-name="{{name}}"
                  >
              Read
              <img src="images/PopupIcon.png" width="25px"/>
            </button>
          </div>

          <div class="write">
            <button type="button" class="btn btn-default"
                  data-toggle="modal" data-target="#writeModal"
                  data-name="{{name}}">
              Write
              <img src="images/PopupIcon.png" width="25px"/>
            </button>
          </div>
        </div>
        </div>
      </div>
    </script>

  </body>
</html>
