<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AIDS_medication Reviews</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Google platform library  -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>

  <!-- Begin body -->
  <body>
    <h1>
      <div id="header">
        <div id="title">AIDS medication review</div>
        <div id="subtitle">
          <p>FDA-approved medications for treatment of HIV infection</p>
        </div>
      </div>
    </h1>

    <!-- medications! -->
    <div id='medications'>
    </div>

    <!-- begin reviewModal: this is not visible until you call .modal() on it -->
    <div class="modal fade" tabindex="-1" role="dialog" id="reviewModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Review</h4>
          </div>
          <div class="modal-body">

            <fieldset class='form-horizontal'>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="sideEffects">Enter side-effects</label>
                <div class="col-md-4">
                  <input id="sideEffect" name="sideEffect" type="text" placeholder="Enter side effects" class="form-control input-md" required="">
                </div>
              </div>
              <br>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="ageGroups">Enter patient's age</label>
                <div class="col-md-4">
                  <input id="ageGroups" name="ageGroups" type="text" placeholder="Enter patient's age" class="form-control input-md">
                </div>
              </div>
              <br>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="additionalComments">Additional comments</label>
                <div class="col-md-4">
                  <input id="additionalComments" name="additionalComments" type="text" placeholder="Enter additional comments" class="form-control input-md">
                </div>
              </div>
              <br>

            </fieldset>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveReview">Save Review</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Medications handlebars script -->
    <script id="medication-template" type="text/x-handlebars-template">
      <!-- one medication -->
      <div class="aMedication one-edge-shadow">
        <div class="name row">
          <div class="col-sm-2 iconImage"> <img src="images/AIDSribbonIcon.png" width="60px"></div>
          <div class="col-sm-10 drugName">{{drugName}}</div>
        </div>

        <div class="description">
          <div>{{drugDescription}}</div>
        </div>

        <div class="details">
            <div id="medClass">
                Class: {{drugClass}}
            </div>
            <div id="mfgCompany">
              {{companyName}}
            </div>
        </div>
        <div class="actions">
            <div>
              <div> <img src="images/ReadIcon.png" width="25px" height="22px">
                <input type="text" placeholder="Read-only view"/>
              </div>
              <div> <img src="images/EditIcon.png" width="25px" height="22px">
                <input type="text" placeholder="side-effects"/>
                <input type="text" placeholder="patient's age"/>
                <input type="text" placeholder="additional comments"/>
              </div>
              <div> <img src="images/DeleteIcon.png" width="25px" height="22px">
                <input type="text" placeholder="Delete review"/>
              </div>
            </div>
        </div>
      </div>
    </script>

  </body>
</html>
