<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AIDS_medication Reviews</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Google platform library  -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>

  <!-- Begin body -->
  <body>
    <h1>
      <div id="header">
        <div id="title">AIDS medication review</div>
        <div id="subtitle">
          <p>FDA-approved medications for treatment of HIV infection</p>
        </div>
      </div>
    </h1>

    <!-- medications! -->
    <div id='medications'>
    </div>

    <!-- Write Modal -->
    <div id="writeModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Write review</h4>
          </div>
          <div class="modal-body">
            <div>
                <input type="text" placeholder="side-effects"/><br>
                <input type="text" placeholder="patient's age"/><br>
                <input type="text" placeholder="additional comments"/><br>
                <button type="button" class="btn btn-success">Success</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Read Modal -->
    <div id="readModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Reviews</h4>
          </div>
          <div class="modal-body">
            <div>
              <div>
                <img src="images/DeleteIcon.png" width="25px">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Medications handlebars script -->
    <script id="medication-template" type="text/x-handlebars-template">
      <!-- one medication -->
      <div class="aMedication one-edge-shadow">
        <div class="name row">
          <div class="col-sm-2 iconImage">
            <img src="images/AIDSribbonIcon.png" width="60px">
          </div>
          <div class="col-sm-10 drugName">
            {{drugName}}
          </div>
        </div>

        <div class="description">
          <div>
            {{drugDescription}}
          </div>
        </div>

        <div class="details">
            <div id="medClass">
                Class: {{drugClass}}
            </div>
            <div id="mfgCompany">
              {{companyName}}
            </div>
        </div>
        <div class="actions">
          <div class="actionTitle">
            Reviews:
          </div>
          <div class="read">
            <button type="button" class="btn btn-default"
                  data-toggle="modal" data-target="#readModal">
              Read
              <img src="images/PopupIcon.svg" width="25px"/>
            </button>
          </div>

          <div class="edit">
            <button type="button" class="btn btn-default"
                  data-toggle="modal" data-target="#writeModal">
              Write
              <img src="images/PopupIcon.svg" width="25px"/>
            </button>
          </div>
        </div>
        </div>
      </div>
    </script>

  </body>
</html>
