
#header{
  text-shadow: 2px 2px 1px aliceblue;
  color: firebrick;
  background-color: floralwhite;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 29px;
  width: 570px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#subtitle {
  font-size: 16px;
  text-align: center;
  font: georgia;
}
.one-edge-shadow {
  -webkit-box-shadow: 10px 10px 5px -6px black;
     -moz-box-shadow: 10px 10px 5px -6px black;
          box-shadow: 10px 10px 5px -6px black;
}
.name{
  margin-top: 5px;
  font-size: 16px;
  font-weight: bolder;
  font: lucida;
  text-shadow: 2px 2px 4px lightblue;
  color: midnightblue;
}
.description{
  margin-left:10px;
  margin-right:10px;
  margin-bottom: 4px;
  font-size: 11px;
  font-style: italic;
  font: lucida;
  font-weight: normal;
  color: black;
}
.details{
  margin-left:10px;
  margin-right:10px;
}
#medClass{
  font-weight: 500;
  font: lucida;
  color: black;
}
#mfgCompany{
  margin-top: 10px;
  font-family: cursive;
  font-size: 16px;
  color: firebrick;
  font: georgia;
  font-weight: bolder;
  margin-bottom: 5px;
  border-bottom:3px solid blueviolet;
}
.aMedication {
  font:lucida;
  min-width: 340px;
  max-width: 600px;
  flex: 1;
  margin: 15px;
  margin-right:10px;
  background-color: bisque;
}
#aMedicationReadButton{
  font-style: italic;
  margin-top: 6px;
  background-color: bisque;
  border-color: bisque;
}
#aMedicationWriteButton{
  font-style: italic;
  margin-top: 6px;
  background-color: bisque;
  border-color: bisque;
}
#medications {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.iconImage{
  text-align: center;
}
.actions{
  font-family: lucida;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
}
.actionTitle{
  padding-top: 14px;
}
.modal-title-drugName{
font-weight: bold;
color: crimson;
}
#reviewRating{
  font-weight: bold;
}
#ageGroup{
  font-weight: bold;
}
#sideEffects{
  font-weight: bold;
}
#comments{
  font-weight: bold;
}
.hidden{
  display: none;
}
.aReview {
  border-bottom: 5px solid midnightblue;
  margin-bottom: 10px;
  font-weight: normal;
}
.sideEffectsWrite{
  font-weight: bold;
  margin-top: 5px;
  vertical-align: middle;
}
.commentsSection {
  font-weight: bold;
  margin-top: 5px;
  vertical-align: middle;
}
#ratingInput{
  margin-bottom: 40px;
}
#ageInput{
  margin-left: 50px;
  margin-bottom: 40px;
}
#sideEffectsInput{
  margin-top: 5px;
  margin-bottom:20px;
  width: 300px;
}
#commentsInput {
  margin-top:5px;
  width: 400px;
}
.trashIcon{
  margin-bottom: 10px;
  margin-left: 450px;
  cursor: pointer;
}
.updateIcon{
  margin-bottom: 10px;
  cursor: pointer;
}
.modal-body{
  margin-bottom: 10px;
}

.read{
  margin-left: 10px;
  margin-right:5px;
}
.write{
  margin-left:5px;
  margin-right:5px;
}
body {
  background-color: floralwhite;
}
#medication-form {
    display: block;
    width: 100%;
    padding: 50px;
    margin-bottom: 40px;
    font-family: georgia;
    font-size: 15px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    color: black;
    background-color: white;
    text-shadow: 16px 16px 8px black;
}
#readReview{
  font-weight: bolder;
  margin-bottom: 20px;
}
#writeReview{
  font-weight: bolder;
}
#saveReviewButton{
  font: lucida;
  font-size: 15px;
  color: lavenderblush;
  background-color: limegreen;
  font-weight: bolder;
  text-shadow: 2px 2px 8px black;
}
#closeReviewButton{
  font: lucida;
  font-size: 15px;
  color: lavenderblush;
  background-color: firebrick;
  font-weight: bolder;
  text-shadow: 2px 2px 8px black;
}
#closeReadReview{
  font: lucida;
  font-size: 15px;
  color: lavenderblush;
  background-color: firebrick;
  font-weight: bolder;
  text-shadow: 2px 2px 8px black;
}
#updateReviewButton{
  margin-top:-25px;
  margin-left:25px;
  font: lucida;
  font-size: 15px;
  color: lavenderblush;
  background-color: limegreen;
  font-weight: bolder;
  text-shadow: 2px 2px 8px black;
}
