
#header{
  text-shadow: 2px 2px 4px slategray;
  background-color: navajowhite;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 29px;
  width: 570px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#subtitle {
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  font: georgia;
}
.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}
.name{
  margin-top: 5px;
  font-size: 16px;
  font-weight: bolder;
  font: lucida;
  text-shadow: 2px 2px 4px lemonchiffon;
}
.description{
  margin-left:10px;
  margin-right:10px;
  margin-bottom: 4px;
  font-size: 11px;
  font-style: italic;
  font: lucida;
  font-weight: normal;
  color: black;
}
.details{
  margin-left:10px;
  margin-right:10px;
}
#medClass{
  font-weight: 500;
  font: lucida;
  color: firebrick;
}
#mfgCompany{
  margin-top: 10px;
  font-family: cursive;
  font-size: 16px;
  color: forestgreen;
  font: georgia;
  font-weight: bolder;
  margin-bottom: 5px;
  border-bottom:2px solid crimson;
}

.aMedication {
  font:lucida;
  min-width: 340px;
  max-width: 600px;
  flex: 1;
  margin: 15px;
  background-color: lightsalmon;
}

#medications {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.iconImage{
  text-align: center;
}
.actions{
  font-family: lucida;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
}
.actionTitle{
  padding-top: 14px;
}
.read{
  margin-left: 10px;
  margin-right:5px;
}
.edit{
  margin-left:5px;
  margin-right:5px;
}
body {
  background-color: tomato;
}
#medication-form {
    display: block;
    width: 100%;
    padding: 50px;
    margin-bottom: 40px;
    font-family: georgia;
    font-size: 15px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    color: black;
    background-color: white;
    text-shadow: 2px 2px 8px #FF0000;
}
#readReview{
  font-weight: bolder;
  margin-bottom: 20px;
}
#writeReview{
  font-weight: bolder;
}
#singlebutton {
  font: lucida;
  font-size: 15px;
  color: black;
  background-color: skyblue;
  font-weight: bolder;
  text-shadow: 2px 2px 8px yellow;
}
